@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
@import "swiper/css/effect-cards";
@import "swiper/css/effect-cube";
@import "swiper/css/grid";
@import "swiper/css/effect-fade";
@import "swiper/css/effect-flip";
@import "swiper/css/effect-coverflow";
@import "swiper/css/effect-creative";
@import "swiper/css/scrollbar";
@import "swiper/css/free-mode";


/* Mask blob image */
.image-with-mask {
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.image-with-mask.blob1 {
  mask-image: url('../components/svg/blob1.svg');
}
.image-with-mask.blob2 {
  mask-image: url('../components/svg/blob2.svg');
}
.image-with-mask.blob3 {
  mask-image: url('../components/svg/blob3.svg');
}
.image-with-mask.blob4 {
  mask-image: url('../components/svg/blob4.svg');
}



/* Base Styling for swiper-slide */
.swiper-slide {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

/* Flex Direction for Layouts */
.swiper-slide.vertical-layout {
  flex-direction: column;
}

.swiper-slide.horizontal-layout {
  flex-direction: row;
}

/* Top Positioning */
.swiper-slide.vertical-layout.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper-slide.horizontal-layout.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper-slide.vertical-layout.top-center {
  align-items: center;
  justify-content: flex-start;
}

.swiper-slide.horizontal-layout.top-center {
  align-items: flex-start;
  justify-content: center;
}

.swiper-slide.vertical-layout.top-right {
  align-items: flex-end;
  justify-content: flex-start;
}

.swiper-slide.horizontal-layout.top-right {
     align-items: flex-start;
    justify-content: flex-end;
}

.swiper-slide.vertical-layout.top-space-between {
  align-items: flex-start;
  justify-content: space-between;
}

.swiper-slide.horizontal-layout.top-space-between {
  align-items: flex-start;
  justify-content: space-between;
}

/* Center Positioning */
.swiper-slide.vertical-layout.center-left {
  align-items: flex-start;
  justify-content: center;
}

.swiper-slide.horizontal-layout.center-left {
  align-items: center;
  justify-content: flex-start;
}

.swiper-slide.vertical-layout.center-center {
  align-items: center;
  justify-content: center;
}

.swiper-slide.horizontal-layout.center-center {
  align-items: center;
  justify-content: center;
}

.swiper-slide.vertical-layout.center-right {
  align-items: flex-end;
  justify-content: center;
}

.swiper-slide.horizontal-layout.center-right {
  align-items: center;
  justify-content: flex-end;
}

.swiper-slide.vertical-layout.center-space-between {
  align-items: center;
  justify-content: space-between;
}

.swiper-slide.horizontal-layout.center-space-between {
  align-items: center;
  justify-content: space-between;
}

/* Bottom Positioning */
.swiper-slide.vertical-layout.bottom-left {
  align-items: flex-start;
  justify-content: flex-end;
}

.swiper-slide.horizontal-layout.bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.swiper-slide.vertical-layout.bottom-center {
  align-items: center;
  justify-content: flex-end;
}

.swiper-slide.horizontal-layout.bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.swiper-slide.vertical-layout.bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.swiper-slide.horizontal-layout.bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.swiper-slide.vertical-layout.bottom-space-between {
  align-items: flex-end;
  justify-content: space-between;
}

.swiper-slide.horizontal-layout.bottom-space-between {
  align-items: flex-end;
  justify-content: space-between;
}


/* Base Styling for div-slide */
.div-slide {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

/* Flex Direction for Layouts */
.div-slide.vertical-layout {
  flex-direction: column;
}

.div-slide.horizontal-layout {
  flex-direction: row;
}

/* Top Positioning */
.div-slide.vertical-layout.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.div-slide.horizontal-layout.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.div-slide.vertical-layout.top-center {
  align-items: center;
  justify-content: flex-start;
}

.div-slide.horizontal-layout.top-center {
  align-items: flex-start;
  justify-content: center;
}

.div-slide.vertical-layout.top-right {
  align-items: flex-end;
  justify-content: flex-start;
}

.div-slide.horizontal-layout.top-right {
     align-items: flex-start;
    justify-content: flex-end;
}

.div-slide.vertical-layout.top-space-between {
  align-items: flex-start;
  justify-content: space-between;
}

.div-slide.horizontal-layout.top-space-between {
  align-items: flex-start;
  justify-content: space-between;
}

/* Center Positioning */
.div-slide.vertical-layout.center-left {
  align-items: flex-start;
  justify-content: center;
}

.div-slide.horizontal-layout.center-left {
  align-items: center;
  justify-content: flex-start;
}

.div-slide.vertical-layout.center-center {
  align-items: center;
  justify-content: center;
}

.div-slide.horizontal-layout.center-center {
  align-items: center;
  justify-content: center;
}

.div-slide.vertical-layout.center-right {
  align-items: flex-end;
  justify-content: center;
}

.div-slide.horizontal-layout.center-right {
  align-items: center;
  justify-content: flex-end;
}

.div-slide.vertical-layout.center-space-between {
  align-items: center;
  justify-content: space-between;
}

.div-slide.horizontal-layout.center-space-between {
  align-items: center;
  justify-content: space-between;
}

/* Bottom Positioning */
.div-slide.vertical-layout.bottom-left {
  align-items: flex-start;
  justify-content: flex-end;
}

.div-slide.horizontal-layout.bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.div-slide.vertical-layout.bottom-center {
  align-items: center;
  justify-content: flex-end;
}

.div-slide.horizontal-layout.bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.div-slide.vertical-layout.bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.div-slide.horizontal-layout.bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.div-slide.vertical-layout.bottom-space-between {
  align-items: flex-end;
  justify-content: space-between;
}

.div-slide.horizontal-layout.bottom-space-between {
  align-items: flex-end;
  justify-content: space-between;
}





.wp-block-slider-builder-slider {
  --swiper-theme-color: var(
    --wp--preset--color--accent,
    var(--wp--preset--color--primary)
  );
  --swiper-navigation-size: var(--size-nav);
  --swiper-navigation-top-offset: var(--offset-top-nav);
  --swiper-navigation-sides-offset: var(--offset-sides-nav);
  --swiper-pagination-bullet-vertical-gap: 0.25rem;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: 4px;
  --swiper-scrollbar-sides-offset: 1%;
  /*max-height: 400px!important;*/
}

.swiper-pagination-bullet {
  border-radius: var(--swiper-radius-bullet);
}
.swiper-pagination-fraction {
  font-size: var(--swiper-font-size-fraction);
}

.swiper-pagination-bullet-active {
  width: var(--swiper-pagination-bullet-width-active);
  height: var(--swiper-pagination-bullet-height-active);
}

.swiper-button-next svg,
.swiper-button-prev svg {
  font-size: var(--size-nav);
  height: var(--size-nav);
  width: var(--size-nav);
}
.swiper-button-next span,
.swiper-button-prev span {
  font-size: var(--size-nav);
}
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--background-color-nav);
  padding-top: var(--padding-nav);
  padding-bottom: var(--padding-nav);
  padding-left: var(--padding-nav-left);
  padding-right: var(--padding-nav-left);
  border-radius: var(--border-radius-nav);
  border: var(--border-size-nav) solid var(--border-color-nav);
  width: auto !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--color-nav-hover) !important;
  background-color: var(--background-color-nav-hover) !important ;
  border: var(--border-size-nav) solid var(--border-color-nav-hover) !important;
}
.swiper-button-next:hover svg,
.swiper-button-prev:hover svg,
.swiper-button-next:hover path,
.swiper-button-prev:hover path,
.swiper-button-next:hover span,
.swiper-button-prev:hover span {
  fill: var(--color-nav-hover) !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

/* Autoplay  Progrss bar */
.autoplay-progress {
  position: absolute;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-autoplay-progress-color);
  &.top-left {
    top: 16px;
    left: 16px;
  }
  &.top-right {
    top: 16px;
    right: 16px;
  }
  &.bottom-left {
    bottom: 16px;
    left: 16px;
  }
  &.bottom-right {
    bottom: 16px;
    right: 16px;
  }
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-autoplay-progress-color);
  fill: none;
  stroke-dashoffset: calc(126px * (1 - var(--progress)));
  stroke-dasharray: 126;
  transform: rotate(-90deg);
}


@keyframes bounce {
  0% {
    transform: translateY(0);
}
10% {
    transform: translateY(-30px);
}
20% {
    transform: translateY(15px);
}
30% {
    transform: translateY(-15px);
}
50% {
    transform: translateY(0);
}
60% {
    transform: translateY(-15px);
}
80% {
    transform: translateY(10px);
}
100% {
    transform: translateY(0);
}
}

.bounce {
  animation: bounce 2s infinite;
}





@keyframes letterBounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-15px);
  }
}

.letter.bounce {
  display: inline-block;
  animation: letterBounce 1s infinite;
}

.letter.bounce:nth-child(odd) {
  animation-delay: 0.1s;
}

.letter.bounce:nth-child(even) {
  animation-delay: 0.2s;
}


@keyframes stretchText {
  0% {
      transform: scaleX(1);
  }
  50% {
      transform: scaleX(1.5); /* Allunga il testo */
  }
  100% {
      transform: scaleX(1); /* Torna alla dimensione originale */
  }
}

.letter.stretch {
  display: inline-block;
  animation: stretchText 1s ease-in-out infinite; /* Ripete l'animazione in modo continuo */
}



@keyframes focusInOut {
  0%, 100% {
    transform: perspective(600px) translate3d(0, 0, 0) scale(0.9988, 1);
    filter: blur(3px);
    opacity: 1;
    letter-spacing: normal;
}
50% {
    transform: perspective(600px) translate3d(0, 0, 0) scale(1.2, 1.2);
    filter: blur(0);
    opacity: 1;
    letter-spacing: 6px;
}
}

.letter.focus {
  display: inline-block;
  transform-origin: 50% 50%;
  animation: focusInOut 5s ease-in-out infinite
}







@keyframes moveBackground {
  0% {
    transform: translateX(0);
}
50% {
    transform: translateX(50px); /* Movimento verso destra */
}
100% {
    transform: translateX(0); /* Torna alla posizione iniziale */
}
}

.moving-background{
  animation: moveBackground 10s linear infinite; /* Regola la durata in base alle tue esigenze */
}



@keyframes bounceUnderline {
  0%, 100% {
      height: 5px;
      transform: translateY(0);
  }
  50% {
      height: 10px;
      transform: translateY(-5px);
  }
}

.underline-effect {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.underline-effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #000; /* Colore dell'elemento sotto la scritta */
  animation: bounceUnderline 1s ease-in-out infinite;
}







/* Font size Title Responsive */
@media screen and (max-width: 780px) {
  .title-slide {
    font-size: var(--font-size-tablet) !important;
  }
}
@media screen and (max-width: 360px) {
  .title-slide {
    font-size: var(--font-size-mobile) !important;
  }
}

/* Responsive Navigation */
@media screen and (max-width: 780px) {
  .swiper-button-next.nav-tablet,
  .swiper-button-prev.nav-tablet {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .swiper-button-next.nav-mobile,
  .swiper-button-prev.nav-mobile {
    display: none;
  }
}