.hamburger-icon.toggle-small {
  width: 40px;
  height: 40px;
  .icon-1, .icon-2, .icon-3 {
    width: 20px;
    height: 2px;
  }
}
.hamburger-icon.toggle-medium {
  width: 50px;
  height: 50px;
  .icon-1, .icon-2, .icon-3 {
    width: 25px;
    height: 3px;
  }
}
.hamburger-icon.toggle-large {
  width: 60px;
  height: 60px;
  .icon-1, .icon-2, .icon-3 {
    width: 32px;
    height: 3px;
  }
}
.icon-1, .icon-2, .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  background-color: var(--color-icon-menu);
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}
.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}
.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}
.hamburger-icon {
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}
.hamburger-icon:hover {
  transform: scale(var(--scale-icon-menu));
}
.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}
.clear {
  clear: both;
}
.hamburger-icon.left{
  top: 0;
  left: 0;
}
.hamburger-icon.top{
  top: 0;
  left: 45%;
}
.hamburger-icon.right{
  top: 0;
  right: 0;
}
nav.nav-toggle-slide.left.menu-left{
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
}
nav.nav-toggle-slide.left.menu-left.half.show {
  width: 50%;
  opacity: 1;
}
nav.nav-toggle-slide.left.menu-left.full.show {
  width: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.left.menu-left.auto.show {
  width: auto;
  opacity: 1;
}
nav.nav-toggle-slide.left.menu-top{
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
}
nav.nav-toggle-slide.left.menu-top.show {
  height: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.left.menu-right{
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
}
nav.nav-toggle-slide.left.menu-right.half.show {
  width: 50%;
  opacity: 1;
}
nav.nav-toggle-slide.left.menu-right.full.show {
  width: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.left.menu-right.auto.show {
  width: auto;
  opacity: 1;
}
nav.nav-toggle-slide.left.menu-bottom{
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
}
nav.nav-toggle-slide.left.menu-bottom.show {
  height: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.top.menu-top{
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
}
nav.nav-toggle-slide.top.menu-top.show {
  height: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.top.menu-bottom{
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
}
nav.nav-toggle-slide.top.menu-bottom.show {
  height: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.right.menu-top{
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
}
nav.nav-toggle-slide.right.menu-top.show {
  height: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.right.menu-right{
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
}
nav.nav-toggle-slide.right.menu-right.half.show {
  width: 50%;
  opacity: 1;
}
nav.nav-toggle-slide.right.menu-right.full.show {
  width: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.right.menu-right.auto.show {
  width: auto;
  opacity: 1;
}
nav.nav-toggle-slide.right.menu-bottom{
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
}
nav.nav-toggle-slide.right.menu-bottom.show {
  height: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.right.menu-left{
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
}
nav.nav-toggle-slide.right.menu-left.half.show {
  width: 50%;
  opacity: 1;
}
nav.nav-toggle-slide.right.menu-left.full.show {
  width: 100%;
  opacity: 1;
}
nav.nav-toggle-slide.right.menu-left.auto.show {
  width: auto;
  opacity: 1;
}
nav.nav-toggle-slide {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  transition-delay: 100ms;
}
nav.nav-toggle-slide ul {
  margin: 0;
  display: flex;
}
nav.nav-toggle-slide ul li {
  list-style: none;
}
nav.nav-toggle-slide ul li:hover a{
  color: var(--color-hover-menu)!important;
}
nav.slider-nav-menu ul {
  margin: 0;
  display: flex;
}
nav.slider-nav-menu ul li {
  list-style: none;
}
nav.slider-nav-menu ul li:hover a{
  color: var(--color-hover-menu)!important;
}

/*
li.has-submenu.submenu-hover:hover .sub-menu{
  display: block!important;
}

*/


