:root {
  --primary-color: #ab0052;
  --secondary-color: #007cba;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ff8f42;
  --info-color: #17a2b8;
  --light-color: #c5c6d0;
  --light-two-color: #ddd;
  --light-three-color: #7e7e7e;
  --white-color: #ffffff;
  --black-color: #000000;
  --panel-color: #f6f9fc;
  --select-hovercolor: #e7f6ff;
  --hover-color: #007cba;
  --label-color: #535960;
  --background-color: #18191c;
  --dark-color: #21242b;
  --dark-color-hover: #2e323c;
  --dark-button: #3c4556;
  --notice-background: #e7dfe2;
}

/* Body
--------------------------------------------- */
#wpcontent{
  background-color: var(--background-color);
}

/* Logo 
--------------------------------------------- */
.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

/* News 
--------------------------------------------- */
.MuiDrawer-paperAnchorRight{
  top: 71px!important;
  p{
    color: var(--light-color);
    font-weight: 100;
  }
}