:root {
  --primary-color: #ab0052;
  --secondary-color: #007cba;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ff8f42;
  --info-color: #17a2b8;
  --light-color: #c5c6d0;
  --light-two-color: #ddd;
  --light-three-color: #7e7e7e;
  --white-color: #ffffff;
  --black-color: #000000;
  --panel-color: #f6f9fc;
  --select-hovercolor: #e7f6ff;
  --hover-color: #007cba;
  --label-color: #535960;
  --background-color: #18191c;
  --dark-color: #21242b;
  --dark-color-hover: #2e323c;
  --dark-button: #3c4556;
  --notice-background: #e7dfe2;
  --dark-intermedy:#3f444a;
  --ruler-color: #ff000077; 
}

/* Inter divider */
.intern-divider-editor{
  width: 100%;
  height: 5px;
  background-color: var(--background-color);
}
/* Menu controls */
.menu-control input{
  max-width: 100%!important;
}

.menu-control input::placeholder {
  color: var(--light-color)!important;
}
.content-text-input-menu{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-control .block-editor-link-control__search-item .block-editor-link-control__search-item-header .block-editor-link-control__search-item-icon{
  width: 20px!important;
  height: 20px!important;
  svg{
    width: 18px!important;
    height: 18px!important;
  }
}
.menu-control .block-editor-link-control{
  min-width: auto!important;
}

.menu-control .block-editor-link-control__search-item.is-current{
  padding: 0!important;
}

.menu-control .block-editor-link-control__tools{
  display: none!important;
}
.menu-control .components-menu-item__item,.menu-control .block-editor-link-control__search-item-title,.menu-control .components-button.is-compact.has-icon,
.menu-control .block-editor-link-control__tools .components-button.block-editor-link-control__drawer-toggle[aria-expanded=true],.menu-control .components-button.is-tertiary{
  color: var(--light-color)!important;
}
.menu-control .block-editor-link-control__tools .components-button.block-editor-link-control__drawer-toggle{
  color: var(--light-color)!important;
}
.menu-control .components-checkbox-control__input[type=checkbox]:checked, .components-checkbox-control__input[type=checkbox]:indeterminate{
  background-color: var(--primary-color)!important;
  border-color: var(--primary-color)!important;
}

.menu-control .components-button.is-primary{
  background-color: var(--primary-color)!important;
}

.menu-control .components-button.is-primary[aria-disabled=true],.menu-control .components-button.is-primary:hover:not(:disabled){
  background-color: var(--dark-color)!important;
  color: var(--light-color)!important;
}

.menu-control .components-button.is-tertiary:hover:not(:disabled,[aria-disabled=true]){
  color: var(--primary-color)!important;
}

.menu-contro .block-editor-link-control__search-item .block-editor-link-control__search-item-header .block-editor-link-control__search-item-icon{
  background-color: var(--label-color)!important;
  border-radius: 4px!important;
  width: 24px!important;
  height: 24px!important;
}


/* Button device slider */
.device-switcher-slider{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 12px;
  button{
    color: var(--light-color);
    box-shadow: none!important;
    svg{
      fill: var(--light-color);
      width: 18px;
      height: 18px;
    }
  }
  .is-pressed svg{
    color: var(--primary-color);
    fill: var(--primary-color)!important;
  }
}
.select-button-device-slider svg{
  fill: var(--primary-color)!important;
  color: var(--primary-color)!important;
}

/* Table hsv */
.thead-hsv th{
  border-top: none!important;
}

/* Tab Checkbox */
.custom-select.checkbox input{
  background-color: var(--background-color)!important;
  border-radius: 50%;
  border: 1px solid var(--light-color)!important;
}
.content-title-checkbox{
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 3px;
  margin-bottom: 12px;
    h2{
      color: var(--light-color);
      font-size: 12px;
      margin: 0;
    }
    svg{
      fill: var(--light-color);
      width: 18px;
      height: 18px;
    }
}

/* Modal button */
.modal-button{
  background-color: var(--background-color);
    .components-modal__content{
      padding-top: 24px!important;
      .content-button-modal{
        margin-bottom: 24px;
      }
    }
    .components-modal__header{
      border-bottom: 1px solid var(--label-color);
      padding-bottom: 24px;
    }
    .components-modal__header .components-modal__header-heading{
      color: var(--light-color);
    }
    .components-modal__header .components-button{
      color: var(--light-color);
    }
    .button-select{
      position: absolute;
      right: 40px;
      bottom: 24px;
      color: var(--primary-color);
    }
    button{
      box-shadow: none;
      height: auto;
      margin: 5px!important;
      max-width: max-content;
      width: max-content;
    }
    .selected {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8)!important;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .button-select{
      padding: 0;
      box-shadow: none;
      color: var(--light-color);
    }
    .button-select.selected {
      color: var(--primary-color);
      box-shadow: none!important;
    }
    
}

/* Modale icone */

.icon-modal{
  max-width: 850px;
  min-width: 850px;
  background-color: var(--dark-color);
  color: var(--light-color);
  h1{
    color: var(--light-color);
  }
    .components-modal__header svg{
        fill: var(--light-color)!important;
    }
  input:focus {
    outline: none!important; /* Rimuove il bordo blu predefinito */
    border: 1px solid var(--primary-color)!important; /* Aggiunge un bordo personalizzato, qui arancione */
    box-shadow: 0 0 3px var(--primary-color)!important; /* Aggiunge un'ombra per evidenziare ulteriormente l'input */
  }
}
.icon-modal-container {
  display: flex;
}

.icon-modal-sidebar {
  width: 150px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
  margin-right: 10px;
  display: flex;
  flex-direction: column; /* Disposizione verticale */
  gap: 5px; /* Spaziatura tra le categorie */
  button{
    width: 100%;
    white-space: nowrap; /* Impedisce il ritorno a capo del testo */
    overflow: hidden; /* Nasconde il testo che eccede */
    text-overflow: ellipsis; /* Aggiunge "..." per indicare testo troncato */
    color: var(--light-color);
    &:hover{
      color: var(--primary-color);
    }
  }
  button.is-primary{
    background-color: var(--primary-color)!important;
    color: var(--light-color);
    &:hover{
      background-color: var(--primary-color)!important;
    }
  }
  h3{
    color: var(--light-color);
  }
}

.icon-modal-main {
  flex: 1;
}

.icon-subcategory {
  margin-bottom: 10px;
  button{
    color: var(--light-color);
    &:hover{
      color: var(--primary-color);
    }
  }
  button.is-primary{
    background-color: var(--primary-color)!important;
    color: var(--light-color);
    &:hover{
      background-color: var(--primary-color)!important;
    }
}
}

.icon-subcategory button {
  margin-right: 5px;
}

.icon-selection {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 colonne */
  gap: 10px; /* Spaziatura tra le icone */
}

.icon-selection button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 20px;
  background-color: var(--black-color);
  border-radius: 4px;
}

.icon-selection i {
  font-size: 24px;
  color: var(--light-color);
}

/* Button open modal */
.add-icon-button-select{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 6px;
    .title-add-icon-button{
      display: flex;
      align-items: center;
      gap: 6px;
      svg{
        fill: var(--light-color);
        width: 18px;
        height: 18px;
      }
    }
    h2{
      color: var(--light-color);
      font-size: 12px;
      margin: 0;
    }
    button{
      background-color: transparent;
      box-shadow: none;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      svg{
        fill: var(--light-color);
        width: 18px;
        height: 18px;
      }
    }
}

/* Stili per il modale */
.modal-button {
  max-width: 700px;
//  margin: 0 auto; /* Centra il modale orizzontalmente */
}

.content-button-modal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);/* Due colonne di uguale larghezza */
  gap: 16px; /* Spaziatura tra i bottoni */
  padding: 16px; /* Spaziatura interna del contenitore */
}

.content-button-modal button {
  width: 100%; /* Assicura che i bottoni riempiano la colonna */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px; /* Spaziatura interna dei bottoni */
}

.content-button-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background slide */
.content-background-slide{
  display: flex;
  align-items: center;
  svg{
    fill: var(--light-color);
    width: 18px;
    height: 18px;
    margin-top: -3px;
  }
}
/* Panel default editor */
.cocoblocks-custom-block-card{
  background-color:var(--dark-color);
    h2,span{
      color: var(--light-color);
    }
}
.cocoblocks-custom-advanced-panel{
  background-color: var(--background-color);
  color: var(--light-color);
  border-top: none!important;
  padding: 0px 16px!important;
  margin-top: -12px!important;
  &:hover{
    background-color: var(--background-color)!important;
  }
  h2{
    background-color: var(--background-color)!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }
    button{
      color: var(--light-color)!important;
      background-color: var(--dark-color)!important;
      border-radius: 8px;
      margin-bottom: 12px;
      padding-left: 10px!important;
      outline: none!important;
      &:hover{
        background-color: var(--dark-color-hover)!important;
      }
      &:focus{
        box-shadow: none!important;
        border:none!important;
       
      }
    }
    .components-panel__body-toggle.components-button{
      border-radius: 8px!important;
    }
    svg{
      fill: var(--light-color)!important;
      right: 6px!important;
    }
    .components-base-control{
      margin-bottom: 0!important;
      padding-bottom: 12px!important;
      margin-top: -18px!important;
      padding-left: 12px!important;
      padding-right: 12px!important;
      padding-top: 10px!important;
      background-color: var(--dark-color)!important;
    }
    input{
      color: var(--light-color)!important;
      background-color: var(--background-color)!important;
      &:focus{
        box-shadow: none!important;
        border-color: var(--primary-color)!important;
      }
    }
}
.components-panel__body.block-editor-block-inspector__advanced.is-opened.cocoblocks-custom-advanced-panel{
  background-color: var(--background-color)!important;
    .components-panel__body-toggle.components-button{
      border-radius: 8px 8px 0 0!important;
    }
}

/* Color Input */
.cocoblocks-panel .components-input-control__backdrop {
  box-shadow: none !important;
}

/* Padding Zero */
.cocoblocks-panel.padding-zero {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cocoblocks-panel.padding-zero.is-opened .components-panel__body-title {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
/* Tools Panel */
.cocoblocks-panel .components-tools-panel {
  border-top: none !important;
}
/* Sep panel */
.sep-panel {
  height: 1px;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: 12px;
  margin-bottom: 20px;
  border-top: 1px dashed var(--light-color);
}
.cocoblocks-panel .components-range-control .components-input-control__container{
  margin-right: 0!important;
}

/* No Focus */
.cocoblocks-panel button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Svg panel slide */
.cocoblocks-panel.panel-slide
  .components-panel__body-toggle
  svg.components-panel__arrow {
  fill: var(--light-color) !important;
}
/* Border panel slide */
.cocoblocks-panel.panel-slide {
  border-bottom: 2px solid var(--dark-color);
  .menu-slide-content .dashicon {
    transform: rotate(90deg);
    position: absolute;
    right: 45px;
    color: var(--background-color);
  }
  .components-dropdown-menu__toggle.is-opened .dashicon {
    color: var(--light-color);
  }
  .components-textarea-control__input {
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--light-color);
  }
  .components-textarea-control__input:focus {
    box-shadow: 0 0 0 1px var(--primary-color);
    border-color: var(--primary-color);
  }
  .content-section-panel {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .title-tab {
    color: var(--light-color);
    margin-left: 5px;
  }
  .button-replace svg {
    color: var(--light-color);
  }

  .button-move button {
    color: var(--primary-color);
  }
  .button-move-element-div button {
    color: var(--primary-color);
  }
  .button-add-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 colonne di uguale larghezza */
    margin-top: 12px;
    gap: 12px; /* Spazio tra i bottoni */
    button {
      background-color: var(--background-color);
      color: var(--light-color);
      border-radius: 12px;
      border: 1px solid var(--light-color);
      justify-content: center;
      cursor: pointer;
    }
    button:hover {
      color: var(--white-color);
      border: 1px solid var(--white-color);
    }
  }
  .device-switcher {
    float: right;
    position: relative;
    z-index: 9999;
    right: 8px;
    top: 4px;
    margin-bottom: 12px;
    button {
      color: var(--light-color);
      box-shadow: none !important;
      padding: 4px;
      svg{
        width: 16px;
        height: 16px;
        fill: var(--light-color);
      }
    }
    button.is-pressed {
      color: var(--white-color);
      border-radius: 6px;
    }
    button:hover {
      color: var(--white-color);
    }
  }
  .button-move {
    position: relative;
    right: 76px;
    top: 45px;
    float: right;
    z-index: 9;
    display: flex;
    gap: 5px;
    button {
      border-radius: 100%;
      background-color: var(--background-color);
    }
  }

  .button-move-element-div{
    position: relative;
    right: 76px;
    top: 42px;
    float: right;
    z-index: 9;
    display: flex;
    gap: 5px;
    button {
      border-radius: 100%;
      background-color: var(--background-color);
    }
  }
  
  .divider-controls {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: -14px;
    margin-right: -14px;
    height: 4px;
    background: linear-gradient(
      to right,
      transparent,
      var(--light-color),
      transparent
    );
  }
  .divider-controls-inner {
    height: 1px; 
    background: linear-gradient(
      to right,
      transparent,
      var(--light-color),
      transparent
    );
  }
  .title-tab-background {
    display: flex;
    align-items: center;
    svg {
      fill: var(--light-color);
      width: 18px;
      height: 18px;
    }
  }

  // Button Remove Element
  .components-button.is-destructive:not(.is-primary):not(.is-secondary):not(
      .is-tertiary
    ):not(.is-link).button-remove-element {
    color: var(--light-color);
  }
  .button-remove-element:hover {
    color: var(--primary-color) !important;
  }
  .select-image-upload .button-upload-image {
    color: var(--light-color);
  }
  // Upload Image
  .media-upload-container {
    display: flex;
    flex-direction: column;
    img {
      margin-left: 10px;
      border-radius: 8px;
      margin-top: 10px;
    }
    .button-upload-image {
      width: max-content;
    }
  }
  .button-replace svg {
    width: 18px;
    height: 18px;
  }
  // Label Image
  .label-image-element {
    display: flex;
    align-items: center;
    margin-top: -4px;
    .content-label-image {
      display: flex;
      align-items: center;
      width: 100%;
    }
    h2 {
      color: var(--light-color);
    }
    button {
      margin-right: 14px;
      margin-top: -4px;
    }
  }
}
.slide-popover-class {
  background-color: var(--dark-color);
  position: relative;
  top: -12px;
  right: -35px;
  button {
    color: var(--light-color);
    border-color: none!important;
    box-shadow: none!important;
  }
  button:hover {
    color: var(--primary-color);
  }
}
.cocoblocks-panel.panel-slide:hover .dashicon {
  color: var(--light-color) !important;
}
.cocoblocks-panel .components-base-control__field {
  margin-bottom: 0 !important;
}
/* Button add slide */
.button-add-slide {
  display: flex;
  gap: 6px;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 30px;
  background-color: var(--background-color);
  border-top: 1px solid var(--label-color);
  .content-button-slide {
    align-items: center;
    display: flex;
    border: 1px solid var(--light-color);
    padding: 6px 12px;
    border-radius: 8px;
    gap: 4px;
    cursor: pointer;
    background-color: var(--background-color);
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: var(--light-color);
    }
    button:hover {
      color: var(--white-color);
    }
    svg {
      fill: var(--light-color);
    }
  }
  .content-button-slide:hover {
    border: 1px solid var(--white-color);
  }
  .content-button-slide:hover svg {
    fill: var(--white-color);
  }
}
/* Nuovo stile controlli */
.popow-content-ico {
  left: -10px !important;
}
.postion-slide button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.popow-content-ico-position {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.popow-content-ico .components-panel__body {
  padding: 0 !important;
  border: none !important;
}
.popow-content-ico .components-popover__content {
  background-color: var(--dark-color);
  border-radius: 12px;
  box-shadow: none;
  border: 1px solid var(--dark-button);
}
.popow-content-ico-position button {
  padding: 5px;
  color: var(--light-color);
  outline: 0.06rem solid var(--dark-button);
}
.popow-content-ico-position svg {
  color: var(--light-color);
  width: 1.2rem;
}
.popow-content-ico-position button:hover {
  background-color: var(--background-color) !important;
}
.popow-content-ico-position button:focus {
  outline: none !important;
  color: var(--primary-color);
  box-shadow: none !important;
  border: none !important;
}
.popow-content-ico-position button.selected svg {
  color: var(--primary-color);
}
.popow-content-ico-position button.selected {
  background-color: var(--background-color);
}
.popow-content-ico-position button:hover svg {
  color: var(--primary-color) !important;
}
.cocoblocks-panel {
  background-color: var(--background-color);
  border-top: none !important;
  /* Svg Panel */
  .components-panel__body-toggle svg.components-panel__arrow {
    fill: var(--dark-color) !important;
  }
  /* Label */
  label {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.4em !important;
    text-transform: none !important;
    display: inline-block;
    margin-bottom: calc(8px);
    padding-top: 0px;
    color: var(--light-color) !important;
    margin-top: 0;
  }
  /* Help */
  .notice.components-base-control__help {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0px 0px 8px 8px;
    padding: 5px 10px;
    border-left: 4px solid var(--primary-color);
    color: var(--dark-color);
    background-color: var(--notice-background);
    margin-left: 0;
    margin-right: 0;
  }
  /* Box control */
  #custom-margin-control .components-range-control{
    padding: 0!important;
  }
  #custom-margin-control #custom-margin-control-heading{
    text-transform: capitalize;
    font-size: 12px;
  }
  /* Range Control */
  .components-range-control {
    padding: 10px !important;
    input {
      color: var(--light-color) !important;
      background-color: var(--background-color) !important;
    }
  }
  .components-range-control__wrapper {
    color: var(--primary-color);
    margin-left: 6px;
  }
  .components-range-control__thumb-wrapper span,
  .components-range-control__thumb-wrapper span::before {
    background-color: var(--primary-color);
  }
  .range-mark .components-range-control__wrapper {
    line-height: 38px;
  }
  /* Select Control */
  .components-panel__body-toggle {
    background-color: var(--background-color);
    color: var(--light-color) !important;
    text-transform: uppercase;
    svg {
      fill: var(--light-color) !important;
    }
  }
  .components-select-control {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between;
    label {
      color: var(--light-color) !important;
      margin-bottom: 0 !important;
      font-size: 12px !important;
    }
  }
  .components-input-control__container {
    width: auto;
    max-width: max-content;
    border: none !important;
    background-color: transparent !important;
    .components-select-control__input {
      color: var(--light-color) !important;
      option {
        background: var(--dark-color) !important;
        color: var(--light-color) !important;
      }
    }
    .components-input-control__backdrop {
      border: none !important;
    }
    .components-input-control__suffix svg {
      fill: var(--light-color) !important;
      margin-right: -6px!important;
    }
  }
  // Gradient Color
  .color-options-panel.color-gradient .components-select-control {
    flex-direction: column !important;
    align-items: flex-start !important;
    .components-select-control__input {
      background-color: var(--background-color);
      min-height: auto;
      height: 32px;
      padding-left: 10px;
    }
    label {
      font-size: 12px !important;
    }
  }
  .color-options-panel.color-gradient
    .components-flex.components-custom-gradient-picker__ui-line {
    align-items: flex-start !important;
  }
  .custom-select.drag-mode{
    right: -24px!important;
  }
  .custom-select.drag-mode:hover{
    background-color: inherit!important;
  }
  .custom-select.color
    .color-options-panel.color-gradient
    .components-input-base {
    background-color: transparent !important;
  }
  .color-options-panel.color-gradient {
    input {
      padding: 0 !important;
      width: auto !important;
      height: 16px !important;
      min-height: auto !important;
    }
    .components-angle-picker-control__angle-circle-indicator {
      background-color: var(--primary-color) !important;
    }
    .components-circular-option-picker__custom-clear-wrapper
      .components-button.is-tertiary {
      color: var(--light-color) !important;
    }
    .components-custom-gradient-picker__gradient-bar.has-gradient {
      border-radius: 14px;
    }
    .components-custom-gradient-picker__gradient-bar-background {
      border-radius: 12px 12px 0 0;
    }
  }
  // Focol Point Picker
  .focal-point-picker {
    padding: 0 !important;
    img,
    video {
      border-radius: 8px;
    }
  }
  .focal-point-picker .components-input-control__container {
    background-color: var(--background-color) !important;
    border-radius: 8px;
    input {
      color: var(--light-color);
    }
    .components-unit-control__unit-label {
      color: var(--light-color);
    }
  }
  .content-section-panel {
    background-color: var(--dark-color);
    padding: 0;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .components-base-control {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
  .postion-slide h2 {
    color: var(--light-color);
    font-size: 12px;
    margin: 0;
    margin-left: 6px;
  }
  .postion-slide button {
    width: 100%;
    padding: 0;
  }
  .postion-slide svg{
    width: 18px;
    height: 18px;
    fill: var(--light-color);
  }
  .postion-slide .ico-align-content {
    font-size: 12px;
    color: var(--light-color);
    top: 4px;
    position: relative;
  }
  .postion-slide__label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .group-icon-position{
      display: flex;
      align-items: center;
    }
    svg {
      fill: var(--light-color);
      width: 1.2rem;
      position: relative;
      right: 6px;
    }
  }
  .custom-select{
    padding: 6px;
    cursor: pointer;
    position: relative;
      label{
        display: flex!important;
        align-items: center;
        margin: 0;
        gap: 5px;
          svg{
            width: 18px;
            height: 18px;
            fill: var(--light-color);
          }
      }
      .components-select-control__input{
        font-size: 12px!important;
        text-align: right;
      }
      .tooltip-icon {
        display: none;
        position: absolute;
        top: 10px;
        left: 57%;
        fill: var(--light-color);
        width: 18px;
      }
    .tooltip-icon:hover {
      fill: var(--primary-color);
    }
    .dashicon.dashicons {
      color: var(--light-color);
      font-size: 16px;
    }
    ::placeholder {
      color: var(--label-color);
    }
    /* Box control */
    &.box-control svg{
      fill: var(--light-color);
      width: 18px;
      height: 18px;
      margin-right: 5px;
      margin-bottom: -5px;
    }
    &.box-control .components-grid{
      color: var(--light-color);
        .components-input-control__container{
          background-color: var(--background-color)!important;
            input{
              color: var(--light-color)!important;
              width: 100%;
              padding: 0;
              text-align: center;
            }
            .components-unit-control__unit-label{
              color: var(--light-color);
            }
        }
        .component-box-control__linked-button{
          color: var(--light-color);
        }
        .component-box-control__reset-button.is-secondary{
          color: var(--primary-color);
          border: none!important;
          box-shadow: none!important;
        }
        .component-box-control__reset-button.is-secondary:selected{
          border: none!important;
          box-shadow: none!important;
        }
        .component-box-control__reset-button.is-secondary:focus{
          border: none!important;
          box-shadow: none!important;
        }
    }
    /* Selector label right */
    &.select-control-label-right .components-select-control__input{
      text-align: right;
      min-width: 58px;
      background-color: var(--background-color);
    }
    .components-input-control__suffix{
      position: relative;
      right: 8px;
    }
  }
 
  /* Toogle */
  .components-toggle-control .components-h-stack {
    flex-direction: row-reverse !important;
    padding: 8px 0px !important;
    label {
      margin-bottom: -2px !important;
      font-size: 12px !important;
    }
    .components-form-toggle.is-checked .components-form-toggle__track {
      background-color: var(--primary-color) !important;
      border-color: var(--primary-color) !important;
    }
  }
  /* Button Creaative */
  .button-creative {
    color: var(--light-color);
    background-color: var(--dark-color);
    margin-top: 16px;
    position: relative;
    width: 100%;
    svg {
      position: absolute;
      right: 12px;
    }
  }
  .button-creative:hover {
    background-color: var(--dark-color-hover);
  }
  /* Panel Color */
  .panel-color-content {
    h2 {
      color: var(--light-color);
    }
    .components-flex-item {
      color: var(--light-color);
    }
    .components-button svg {
      fill: var(--light-color);
    }
  }
  .components-popover__content {
    background-color: var(--dark-color) !important;
    .components-menu-group__label {
      color: var(--light-color);
    }
  }
  /* Panel Color */
  .content-color-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    p {
      color: var(--light-color);
      margin: 0;
    }
    button {
      padding: 0;
      height: 22px;
      width: 22px;
      border-radius: 4px;
    }
    .button-color-content svg {
      fill: var(--light-color);
    }
  }
  .custom-select.color {
    .components-color-picker {
      width: 100%;
      border-radius: 12px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    .react-colorful {
      width: 100%;
    }
    .components-input-base {
      background-color: var(--background-color);
      border-radius: 8px;
    }
    span {
      color: var(--light-color);
      font-size: 12px;
    }
    input {
      color: var(--light-color);
    }
    svg {
      color: var(--light-color);
      width: 18px;
      height: 18px;
    }
    .components-input-base.components-select-control {
      background-color: transparent;
    }
    .react-colorful__saturation {
      margin-bottom: 0;
      border-radius: 10px 10px 0 0;
      max-height: 190px;
    }
    .react-colorful__hue {
      width: 100%;
      border-radius: 0;
      height: 30px;
      margin-bottom: 0;
    }
    .react-colorful__alpha.react-colorful__last-control {
      width: 100%;
      height: 30px;
      border-radius: 0 0 8px 8px;
    }
    .react-colorful__pointer.react-colorful__saturation-pointer,
    .react-colorful__pointer.react-colorful__hue-pointer,
    .react-colorful__pointer.react-colorful__alpha-pointer {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
.cocoblocks-panel .components-panel__body-toggle:hover,
.cocoblocks-panel:hover {
  background-color: var(--background-color) !important;
}
.cocoblocks-panel .custom-select:hover {
  background-color: var(--dark-color-hover) !important;
}
.cocoblocks-panel .custom-select.color {
  padding: 0 12px;
}
.cocoblocks-panel .custom-select:hover .tooltip-icon {
  display: block !important;
}

/* Modale */
.cocoblocks-modal {
  background-color: var(--background-color);
  border-radius: 10px;
  height: 90vh;
  max-height: 100% !important;
  p {
    color: var(--light-color);
  }
  .components-modal__header .components-button {
    color: var(--light-color);
  }
  .components-modal__header {
    border-bottom: 1px solid var(--light-three-color);
  }
  .components-modal__header-heading-container h1 {
    color: var(--light-color);
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .column {
    flex: 1;
  }
  .left {
    margin-right: 24px;
  }
  .right {
    margin-left: 24px;
  }
  .content-preset {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--dark-color);
    border-radius: 8px;
    position: relative;
    button {
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 6px 32px;
      background-color: var(--dark-button);
      border-radius: 0.375rem;
      height: auto;
    }
    button:hover {
      background-color: var(--primary-color) !important;
    }
  }
  .select-modal {
    color: var(--light-color);
    svg {
      margin-right: 5px;
      width: 16px;
      height: 16px;
      margin-bottom: -5px;
    }
    .svg-rotate {
      transform: rotateY(60deg) scale(1.1);
      transform-style: preserve-3d;
    }
    .svg-rotate-two {
      transform: rotateX(60deg) scale(1.1);
      transform-style: preserve-3d;
    }
    .components-number-control .components-input-control__container {
      background-color: var(--dark-color);
      input {
        color: var(--light-color);
      }
      .components-input-control__backdrop {
        border: none !important;
      }
    }
  }
  .content-select-modal {
    background-color: var(--dark-color);
    border-radius: 8px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.1rem;
    margin-bottom: 16px;
  }
  .components-range-control__wrapper {
    color: var(--primary-color);
  }
  .components-range-control__thumb-wrapper span,
  .components-range-control__thumb-wrapper span::before {
    background-color: var(--primary-color);
  }
  .border-bottmo-modal {
    border-top: 1px solid var(--light-three-color);
    margin-left: -32px;
    margin-right: -32px;
    margin-bottom: 12px;
  }
  .button-save-modal {
    float: right;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 8px;
    padding: 0 1rem;
  }
  /* Cube Effect Modal */
  .modal-content.content-cube-effect {
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 12px;
    .row.row-cube-effect {
      padding: 10px 50px 50px 50px;
      margin-bottom: 20px;
      border-radius: 8px;
      background-color: var(--white-color);
    }
    .column.left {
      margin: 0 !important;
    }
    .p-preview-cube {
      color: var(--background-color);
    }
    .custom-select.select-modal.toggle {
      display: flex;
      justify-content: space-between;
      svg {
        fill: var(--light-color);
      }
      svg:hover {
        fill: var(--primary-color) !important;
      }
    }
    .custom-select.select-modal {
      svg {
        fill: var(--light-color);
      }
      svg:hover {
        fill: var(--primary-color) !important;
      }
    }
    .components-form-toggle.is-checked .components-form-toggle__track {
      background-color: var(--primary-color) !important;
      border-color: var(--primary-color) !important;
    }
  }
}
/* Modale */
.cocoblocks-modal {
  .swiper {
    height: 160px;
    width: 285px;
    margin: 0;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: var(--light-color);
    border-radius: 8px;
  }
  .swiper-slide:nth-child(1n) {
    background-color: var(--dark-color);
  }
  .swiper-slide:nth-child(2n) {
    background-color: var(--primary-color);
  }
  .swiper-slide:nth-child(3n) {
    background-color: var(--dark-color);
  }
}
/* Reset Button */
.button-reset {
  width: 100%;
  justify-content: center;
  box-shadow: none !important;
  color: var(--light-color) !important;
  svg {
    fill: var(--primary-color);
    width: 18px;
    margin-right: 7px;
  }
}
.button-reset:hover {
  color: var(--notice-background) !important;
}

/* Tab Panel General */
.tab-general {
  border-top: 1px solid var(--label-color);
  .components-tab-panel__tabs {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
    align-items: center;
    .active-tab {
      background-color: var(--dark-color);
      color: var(--white-color);
    }
    .active-tab:hover {
      color: var(--white-color);
    }
    
    button {
      padding: 0;
    }
   
  }
  .components-tab-panel__tabs-item {
    width: 100%;
    justify-content: center;
    color: var(--label-color);
  }
  .components-tab-panel__tabs-item:hover {
    color: var(--white-color);
  }
}

.tab-1 {
  display: none;
  &.tab1 {
    display: block;
  }
}
.tab-2 {
  display: none;
  &.tab2 {
    display: block;
  }
}
.tab-3 {
  display: none;
  &.tab3 {
    display: block;
  }
}
.tab-4 {
  display: none;
  &.tab4 {
    display: block;
  }
}
.tab-5 {
  display: none;
  &.tab5 {
    display: block;
  }
}

/* Notice Wrning margin top */
.notice-warning-margin-top {
  margin-top: 12px;
}

/* Button apply style slide */
.button-apply-style{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 10px 9px;
    p{
      margin: 0;
      color: var(--light-color);
    }
    span{
      color: var(--light-color);
    }
    button{
      cursor: pointer;
      padding: 8px;
      border-radius: 8px;
      background-color: var(--background-color);
      color: var(--light-color);
      border: 1px solid var(--light-color)!important;
    }
    button:selected{
      border: 1px solid var(--light-color)!important;
    }
    button:focus{
      border: 1px solid var(--light-color)!important;
    }
    button:active{
      border: 1px solid var(--light-color)!important;
    }
    &:hover button{
      color: var(--white-color);
      border: 1px solid var(--white-color);
    }
}
.confirmation-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 12px;
    button{
      cursor: pointer;
      padding: 8px;
      border-radius: 8px;
      background-color: var(--background-color);
      color: var(--white-color);
      border: 1px solid var(--white-color)!important;
    }
}

/* Selector Section */
.section-selector{
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid var(--label-color);
  background-color: var(--background-color);
    .section-selector-button{
      display: flex;
      flex-direction: column;
      gap: 4px;
      height: auto;
      flex: 1 1 calc(33.33% - 10px);
      font-size: 12px;
      box-shadow: none!important;
      color: var(--label-color)!important;
        &.is-primary{
          background-color: transparent!important;
          color: var(--white-color)!important;
          svg{
            fill: var(--primary-color)!important;
          }
        }

    }
    svg{
      width: 20px;
      height: 20px;
    }
}

/*Description Section Slider */
.content-subdescription-section-slider{
  background-color: var(--dark-color);
  padding: 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: var(--light-color)
  }
}

/* Custom Panel */

.content-section-custom-panel{
  background-color: var(--background-color);
  padding: 16px;
  padding-top: 6px;
}
 /* Tooltip rangecontrol */
.cocoblocks-panel .components-simple-tooltip.components-range-control__tooltip{
  display: none!important;
}

.content-title-custom-panel{
  display: flex;
  position: relative;
  background-color: var(--dark-color);
  &.intermedy{
    margin-bottom: 18px;
    margin-top: 18px;
    margin-left: -14px;
    margin-right: -14px;
  }
  align-items: center;
    .title-custom-panel{
      color: var(--light-color);
      margin: 0px;
      font-size: 13px;
      text-transform: uppercase;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 15px;
    }
}

/* Content devices */
.svg-devices{
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap:6px;
    svg{
      fill: var(--label-color);
      width: 22px;
      height: 22px;
    }
    h3{
      color: var(--label-color);
      margin: 0;
      text-transform: capitalize;
      font-size: 12px;
    }
}
/* Button delet image */
.button-delete svg{
  position: relative;
  color: var(--light-color);
}

/* Title Element */
.title-element{
  display: flex;
  align-items: center;
  gap: 5px;
  h2{
    color: var(--light-color);
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  svg{
    fill: var(--light-color);
    width: 22px;
    height: 22px;
  }
}
.title-block-added{
  position: relative;
  margin-left: -14px;
  margin-right: -14px;
  background: var(--dark-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Nascondi advanced panel */
.cocoblocks-custom-advanced-panel.hidden {
  display: none;
}
/* Button Reply effect */
.button-reply-effect{
  text-align: center;
  background-color: var(--dark-color);
  &:hover{
    background-color: var(--dark-color-hover);
  }
  button{
    color: var(--primary-color)!important;
  }
}

/* Input text control link */
.custom-select.select-text-control{
  input{
    background-color: var(--dark-color);
    color: var(--light-color);
    &:focus{
     border-color: var(--primary-color)!important; 
     box-shadow: none!important;  
    }
  }
  label{
    margin-bottom: 6px;
  }
}

/* Modal image */

.modal-image-slider{
  background-color: var(--background-color);
  min-width: 62%;
    .components-modal__header-heading{
      color: var(--light-color);
    }
    .components-modal__header button svg{
      color: var(--light-color);
    }
    .components-modal__content{
      padding-left: 0!important;
      margin: 0!important;
      padding-bottom: 0!important;
    }
    .logo-modal{
      width: 50px;
      height: 50px;
        img{
          max-width: 100%;
          height: auto;
        }
    }
    .components-modal__content > div:nth-child(2) {
      height: 100%;
    }
}
.modal-body{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}
.category-navigator{
  width: 250px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--dark-color);
  color: var(--light-color);
    button{
      color: var(--light-color)!important;
      border: none;
      box-shadow: none!important;
      padding: 0;
      height: 25px!important;
    }
}
.image-selection-modal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adatta il numero di colonne */
  gap: 20px; /* Spazio tra le immagini */
  margin-top: 100px;
  margin-bottom: 50px;
}
.image-item {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  width: 100;
  height: 180px;
  position: relative; /* Assicura che il button sia posizionato rispetto a .image-item */

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    position: absolute;
    background-color: var(--dark-color)!important;
    color: var(--light-color)!important;
    border: 1px solid var(--light-color)!important;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 10;
    box-shadow: none!important;
  }

  &:hover button {
    transform: translateY(0);
    opacity: 1;
  }
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 224px;
    top: -31px;
    left: 0;
    background-color:var(--primary-color);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover.image-item::after {
    opacity: 0.4;
  }
  h4{
    background-color: var(--dark-color);
    color: var(--light-color);
    width: 100%;
    padding: 14px 5px;
    margin-top: 0;
  }
}

/* Copyright */
.copy-right-modal{
  position: absolute;
  bottom: 30px;
  button{
    color: var(--label-color);
    box-shadow: none!important;
    transition: color 0.3s ease;
    &:hover{
      color: var(--white-color)!important;
    }
  }
}

/* Stile per l'overlay di caricamento */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}
.loading-message {
  background: rgba(255, 255, 255, 0.44);
  padding: 20px;
  border-radius: 0px;
  text-align: center;
  align-content: center;
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  p{
    font-size: 52px;
    color: var(--dark-color);
  }
}

/* Griglia per l'editor */
.editor-grid {
  position: relative;
}
.editor-grid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--color-grid-editor) 1px, transparent 1px),
                    linear-gradient(to bottom, var(--color-grid-editor) 1px, transparent 1px);
  background-size: 20px 20px; 
  pointer-events: none; 
  z-index: 10; 
  opacity: var(--opacity-grid-editor);
}

/* Button open controls add element */
.button-open-control-element{
  background-color: transparent!important;
  border: none;
  cursor: pointer;
}
/* Responsive button devices */
.editor-visual-editor.tablet-view,.editor-visual-editor.mobile-view{
  margin: 0 auto;
}
.desktop-view {
  width: 100%; 
}
.tablet-view {
  width: 768px; 
}
.mobile-view {
  width: 360px; 
}


.button-button-group-responsive{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
    .button-group-button-title{
      display: flex;
      align-items: center;
      gap: 5px;
        h2{
          color: var(--light-color);
          margin: 0;
          font-size: 12px;
        }
    }
    button{
      background-color: transparent;
      border: none;
      cursor: pointer;
        svg{
          fill: var(--light-color);
          width: 20px;
          height: 20px;
        }
    }
    .active svg{
      fill: var(--primary-color);
    }
}

/* Rules */
.ruler-container {
  position: relative;
  width: 100%;
}
.ruler-horizontal {
  position: absolute;
  top: 0;
  left: 20px; /* Lascia spazio per il righello verticale */
  width: 100%; /* Riduci la larghezza per lasciare spazio al righello verticale */
  height: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.ruler-horizontal span {
  position: absolute;
  top: 0;
  font-size: 10px;
  color: #333;
}
.ruler-vertical {
  position: absolute;
  top: 20px; /* Lascia spazio per il righello orizzontale */
  left: 0;
  width: 20px;
  height: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}
.ruler-vertical span {
  position: absolute;
  left: 0;
  font-size: 10px;
  color: #333;
}

/* Hide title editor */
.content-title-slide.hide{
 visibility: hidden;
}

/* Hide icon editor */
.content-icon.hide{
  visibility: hidden;
  opacity: 0!important;
 }
 
/* Hide iconinner editor */
.content-icon-inner.hide{
  visibility: hidden;
  opacity: 0!important;
 }
 

/* Hide image editor */
.content-img-first.hide{
  visibility: hidden;
}

/* Hide div editor */
.content-inner-div.hide{
  visibility: hidden;
  opacity: 0!important;
}

/* Hide title div editor */
.content-title-div.hide{
  visibility: hidden;
  opacity: 0!important;
}


/* Hide image div editor */
.content-img-inner.hide{
  visibility: hidden;
  opacity: 0!important;
}

/* Hide  button editor */
.scroll-btn.hide,.button-slider.hide{
  visibility: hidden;
  opacity: 0!important;
}

/* Hide inner button editor */
.scroll-btn-inner.hide,.button-slider-inner.hide{
  visibility: hidden;
  opacity: 0!important;
}

/* Hide menu */
.hamburger-icon.hide,.slider-nav-menu.hide{
  visibility: hidden;
  opacity: 0!important;
}

.gif-preview {
  display: none; /* Nasconde la GIF di default */
}

.div-item:hover .gif-preview {
  display: block; /* Mostra la GIF quando si passa il mouse sul div */
}
